@charset "utf-8";

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: black; 
  color: white;
}

a {
  text-decoration:none;
  color:#fff;
}

a:hover {
  text-decoration: none;
}

p {
  margin:0 0 20px 0;
  padding: 0;
}

/* separator */
.shape {
  background-image: url(../img/shape.png);
  height: 5px;
}

/* toTop Widget */
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url("../img/ui.totop.png") no-repeat left top;
}

#toTopHover {
  background: url("../img/ui.totop.png") no-repeat left -51px;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;  
}

#toTop:active, #toTop:focus {
  outline: none;
}

/* General */
h1.title {
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.darkgrey, .darkgrey:hover {
  color: #333 !important;
}

.yellow {
  color: yellow;  
}

.yellowgreen {
  color: yellowgreen; 
}

section {
  padding: 100px 0;
}

/* Header */

header {
  background: url("../img/rainbow_bg.jpg") repeat 0 0;
  height: 256px;
  padding-top: 128px;
  background-color: yellow;
  background-color: rgba(255, 255, 0, .9);
}

header .container {
  padding: 0;
  width: 100%;
  background: rgba(255,255,0, 0.9);
}

div.logo_banner {
  max-width: none;
  width: inherit;
  height: 128px;
}

h1.logo_banner, .logo_banner h1, .logo_banner a { 
 font-family: 'Roke1984';
 font-size: 100px;
 font-weight: normal;
 line-height: 100px;
 vertical-align: middle;
 padding: 16px;
 text-align: center;
 max-width: 100%;
}

/* call-to-action section */
section.call-to-action { 
  background-color: purple;
}

.cta-icon {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  vertical-align: middle;
  margin-bottom: 24px;
  -webkit-filter: invert(0%);
  -webkit-transition: -webkit-filter 0.3s ease-out; 
  -moz-transition: -webkit-filter 0.3s ease-out; 
  -o-transition: -webkit-filter 0.3s ease-out; 
  -ms-transition: -webkit-filter 0.3s ease-out; 
  transition: -webkit-filter 0.3s ease-out;
}

.cta-icon:hover { 
  -webkit-filter: invert(100%);
}

.pet {
  background:url(../img/pet.png) no-repeat center center;
}

.rollerskate {
  background:url(../img/rollerskate.png) no-repeat center center;
}

.shades {
  background:url(../img/shades.png) no-repeat center center;
}

.tape {
  background:url(../img/tape.png) no-repeat center center;
}

/* info section */

section.info { 
  background-color: indigo;
  color: #eee;
}

div.register { 
  margin: 60px 0 30px;
}

.register-button { 
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
}

.info p a, .info h4 a {
  color: yellow; 
}

.info p a:hover, .info h4 a:hover { 
  text-decoration: none;
  border-bottom: dotted 2px yellowgreen; 
}

.info h2 {

  margin-top: 30px;
}
/* speaker section */

section.speakers { 
  /*background-color: #1663B5; */
  background-color: #85E244;
  color: #333;
}
.speaker-row {
  margin-top: 50px;
  margin-bottom: 140px;
}
.speaker-item{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px hotpink;
}
.speaker-item img{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: 0.3s all ease;
}

.speaker-text {
  text-align: center;
  margin-bottom: 24px;
}

.speaker-text h2 {
  font-size: 24px;
  color: #08c;
  margin-top: 51px;
}

.speaker-text span {
  font-size: 12px;
  color: #7a7e83;
  margin-top: 14px;
  text-transform: uppercase;

}

.speaker-text p {
  font-size: 14px;
  color: #7a7e83;
  padding: 30px 60px 0 61px;
  margin-bottom: 24px;
}

.speaker-text a {
  color: #7a7e83;
}

.speaker-text a:hover {
  color: #7a7e83;
  /*text-decoration: underline;*/
  border-bottom: dotted 2px hotpink;
}

.speaker-image {
  position: relative;
}

.speaker-image img {
  width: 100%;
}

.speaker-social ul {
  width: 160px;
  margin: 0 auto;
}

.ss-3col ul { 
  width: 160px;
}

.ss-2col ul { 
  width: 105px;
}

.speaker-social {
  margin-top: -23px;
  margin-left: 0;
}

.speaker-social img:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(235,89,42,0.5);
  cursor: pointer;
}

.speaker-social ul li {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  margin-right: 36px;
  text-indent: 0;
}

.speaker-social ul li a {
  background-color: #08e;
  border-radius: 100% 100% 100% 100%;
  font-size: 20px;
  padding: 10px;
  overflow: hidden;
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  -ms-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;  
}

.speaker-social ul li a:hover {
  border-radius: 50%;
  /*box-shadow: 0 0 0 5px rgba(0,114,208,0.5);*/
  box-shadow: 0 0 0 5px rgba(255,255,0,0.75);
  cursor: pointer;
  color: yellow;
}

hr.dotted-yellow  { 
  border-bottom: dotted yellow;
  border-top: none;
}

.talks-callout { 
  text-align: center;
}

/* sponsors section */

section.sponsors { 
  background-color: black;
  color: white;
}

section.sponsors img {
  width: 160px;
  padding-right: 30px;
  margin-top: 20px;
}

section.sponsors img.janrain {
  margin-top: 43px;
}

/* blog section */

section.blog { 
  background-color: peachpuff;
  color: #333;
}

section.blog h1 {
  color: purple;
}

section.blog a { 
  color: purple;
  text-decoration: none;
}

section.blog a:hover { 
  color: lightcoral;
  text-decoration: none;
}

section.blog hr { 
  border: 0;
  border-bottom: 3px dashed purple;
  background: #ccc;
}

p.post-date { 
  font-style: italic;
  font-size: small;
}

.post-content { 
  margin: 40px 0;
}
.post-navigation { 
  margin: 40px 0;
}

/* map section */

section.map { 
  padding: 0;
  background-color: black;
}

/* google maps fix */
#map {
  height: 480px;
}

img {
  max-width: none !important; 
}

.map {
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */

.footer {
  padding: 95px 0 43px 0;
  background-color: orange;
}

.footer p {
  color: #fff;
  font-size: 12px;
}

.footer .social a {
  height: 47px;
  width: 47px;
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  line-height: 47px;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  -ms-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}

.footer .social a:hover{
  opacity: 0.6;
}

.footer .social i { 
  margin-left: .45em;
  margin-top: .15em;
}

.footer_copy {
  margin-left: 20px;
}

.footer_logo { 
  font-family: 'Roke1984';
  font-size: 50px;
  font-weight: normal;
  color: #333;
  line-height: 50px;
  vertical-align: middle;
  padding: 24px;
}


/* RESPONSIVE QUERIES */
@media (max-width: 1200px) {
  .speaker-item { 
    min-height: 384px;
  }
}
/* 1024px */
@media handheld, only screen and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 979px) {
  .info input[type=email] { 
    width: 162px;
  }
}

/* 768px */
@media handheld, only screen and (max-width: 767px) {
  #toTop {
    right: 30px;
  }
  
  .social, .footer_copy { 
    margin-left: 20px;
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .a-little-love {
    margin-left: 10px;
    margin-right: 10px;
  }
  .call-to-action .container, .speakers .container, .info .container, .sponsors .container {
    margin: 20px;
  }
  .speaker-row { 
    margin: 0;
  }
  .speakers h1 { 
    margin: 40px 0;
  }
}

/* 685px */
@media handheld, only screen and (max-width: 685px) {
/*  header{   
    height: 360px;
  }*/
}

/* 600px */
@media handheld, only screen and (max-width: 600px) {
/*  header{   
    height: 355px;
  }*/ 
}

/* 568px */
@media handheld, only screen and (max-width: 568px) {
/*  header{   
    height: 350px;
  }*/ 
}

/* 480px */
@media handheld, only screen and (max-width: 520px) {
  .logo_banner a { 
   font-size: 90px;
   line-height: 90px;
   padding: 10px;
  }

  h1.logo_banner, .logo_banner h1 { 
   font-size: 70px;
   line-height: 70px;
   padding: 10px;
  }

  div.logo_banner {
    height: 100px;
  }

  .social { 
    display: block;
    margin-bottom: 20px;
  }

}

/* 380px */
@media handheld, only screen and (max-width: 420px) {
  body { 
    font-size: 12px;
  }

  header {
    height: 128px;
    padding-top: 64px;
  }

  div.logo_banner {
    height: 64px;
  }

  .logo_banner a { 
   font-size: 60px;
   line-height: 60px;
   padding: 6px;
  }

  h1.logo_banner, .logo_banner h1 { 
   font-size: 50px;
   line-height: 50px;
   padding: 8px;
   margin-top: 0;
  }

  .input-append input {
    font-size: 12px;
  }
}

/* 240px */
@media handheld, only screen and (max-width: 240px) {
  body { 
    font-size: 11px;
  }

  header {
    height: 96px;
    padding-top: 48px;
  }

  div.logo_banner {
    height: 48px;
  }

  h1.logo_banner, .logo_banner h1, .logo_banner a {
   font-size: 30px;
   line-height: 30px;
   padding: 8px;
  }

  .input-append input {
    font-size: 11px;
  }

  .social { 
    display: block;
    margin-bottom: 20px;
  }

  .footer_copy { 
    margin-left: 15px;
  }
}
