
	<h3>omg please ignore the horrible design, normally other really smart people who work with me do this part</h3>

	<h2>Submit a speaker</h2>

	<form action="/speaker" method="POST">
		<input type="hidden" name="redirect" value="/speaker/thanks"/>
		<label for="name">Name</label>
		<input name="name" id="name" placeholder="Ryan Dahl"/>
		<br/>

		<label for="email">Email</label>
		<input name="email" id="email" placeholder="wiggles@joyent.com"/>

		<input type="submit"/>
	</form>