---
layout: default
title: NodePDX
rss: /blog.rss
---
<div class='nav prose'>
  <h1>
    <a href="/news.html">NEWS</a>
    <span> / </span>
    <a href="/speakers.html">SPEAKERS</a>
    <span> / </span>
    <a href="/sponsors.html">SPONSORS</a>
  </h1>
</div>
<!-- TODO: Turn these into separate pages.. <sigh> -->
<div id='sponsors-posts' class='posts'>
    <div class='prose'>
      {% for item in site.categories['sponsors'] limit:10 %}
      {% include sponsor.html %}
      {% endfor %}
    </div>
</div>